.profile {
  padding: 10px;
  margin: auto;
  width: 600px;
  background-color: bisque;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0;
}

.name {
  padding-top: 20px;
}

li {
  list-style: none;
}

.stats {
  height: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
}
